{% extends 'base.html' %}

{% block title %} - aaa{% endblock %}

{% block content %}

<h2>PN10</h2>
<table class='table table-hover table-sm'>
    <tr>
        <th></th>
        <th>Pipe</th>
        {% for dn in space_table_pn10.keys %}
        <th>DN{{ dn }}</th>
        {% endfor %}
    </tr>
    <tr>
        <th>Flange</th>
        <td>OD [mm]</td>
        {% for inner_dic in space_table_pn10.values %}
        <td>{{ inner_dic.OD }}</td>
        {% endfor %}
    </tr>
    {% for dn_flange, inner_dic in space_table_pn10.items %}
    <tr>
        <th>DN{{ dn_flange }}</th>
        <td>{{ inner_dic.OD }}</td>
        {% for dn_pipe, space in inner_dic.space_values.items %}
            {% if dn_flange == dn_pipe %}
            <td class="table-primary">
            {% else %}
            <td>
            {% endif %}
                {{ space }}
            </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
<hr/>


<h2>PN16</h2>
<table class='table table-hover table-sm'>
    <tr>
        <th></th>
        <th>Pipe</th>
        {% for dn in space_table_pn16.keys %}
        <th>DN{{ dn }}</th>
        {% endfor %}
    </tr>
    <tr>
        <th>Flange</th>
        <td>OD [mm]</td>
        {% for inner_dic in space_table_pn16.values %}
        <td>{{ inner_dic.OD }}</td>
        {% endfor %}
    </tr>
    {% for dn_flange, inner_dic in space_table_pn16.items %}
    <tr>
        <th>DN{{ dn_flange }}</th>
        <td>{{ inner_dic.OD }}</td>
        {% for dn_pipe, space in inner_dic.space_values.items %}
            {% if dn_flange == dn_pipe %}
            <td class="table-primary">
            {% else %}
            <td>
            {% endif %}
                {{ space }}
            </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
<hr/>


<h2>PN25</h2>
<table class='table table-hover table-sm'>
    <tr>
        <th></th>
        <th>Pipe</th>
        {% for dn in space_table_pn25.keys %}
        <th>DN{{ dn }}</th>
        {% endfor %}
    </tr>
    <tr>
        <th>Flange</th>
        <td>OD [mm]</td>
        {% for inner_dic in space_table_pn25.values %}
        <td>{{ inner_dic.OD }}</td>
        {% endfor %}
    </tr>
    {% for dn_flange, inner_dic in space_table_pn25.items %}
    <tr>
        <th>DN{{ dn_flange }}</th>
        <td>{{ inner_dic.OD }}</td>
        {% for dn_pipe, space in inner_dic.space_values.items %}
            {% if dn_flange == dn_pipe %}
            <td class="table-primary">
            {% else %}
            <td>
            {% endif %}
                {{ space }}
            </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
<hr/>


<h2>PN40</h2>
<table class='table table-hover table-sm'>
    <tr>
        <th></th>
        <th>Pipe</th>
        {% for dn in space_table_pn40.keys %}
        <th>DN{{ dn }}</th>
        {% endfor %}
    </tr>
    <tr>
        <th>Flange</th>
        <td>OD [mm]</td>
        {% for inner_dic in space_table_pn40.values %}
        <td>{{ inner_dic.OD }}</td>
        {% endfor %}
    </tr>
    {% for dn_flange, inner_dic in space_table_pn40.items %}
    <tr>
        <th>DN{{ dn_flange }}</th>
        <td>{{ inner_dic.OD }}</td>
        {% for dn_pipe, space in inner_dic.space_values.items %}
            {% if dn_flange == dn_pipe %}
            <td class="table-primary">
            {% else %}
            <td>
            {% endif %}
                {{ space }}
            </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
<hr/>


{% endblock %}
