{% extends 'base.html' %}

{% block title %} - index{% endblock %}

{% block content %}

<table>
    <tbody>
        <tr>
            <th>DN_1</th>
            <th>DN_2</th>
            <th>Flange</th>
            <th>Min. gap</th>
            <th>Insulation_1</th>
            <th>Insulation_2</th>
        </tr>
        <tr>
            <td>DN_1</td>
            <td>DN_2</td>
            <td>Flange</td>
            <td>Min. gap</td>
            <td>Insulation_1</td>
            <td>Insulation_2</td>

        </tr>
    </tbody>
</table>
{% endblock %}
